@font-face {
  font-family: 'Meddon';
  font-style: normal;
  font-weight: 400;
  src: url('man/fonts/meddon-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Meddon'), local(''),
       url('man/fonts/meddon-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('man/fonts/meddon-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('man/fonts/meddon-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('man/fonts/meddon-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('man/fonts/meddon-v13-latin-regular.svg#\1') format('svg'); /* Legacy iOS */
}

h1 > a {
  font-face: 'Meddon'
}